<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English | Ecommerce English website</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"><img src="images/logo-back.jpg" width="200px"></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="course.html">Course</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="Lecture.html">lecturers</a></li>
                        <li><a href="account.html">Account</a></li>
                    </ul>
                </nav>
                <a href="cart.html"><img src="images/cart.png" width="30px" height="30px"></a>
                <img src="images/menu.png" class="menu-icon" 
                onclick="menutoggle()">
            </div>
            <div class="row">
                <div class="col-2">
                    <h1> Fun with English!</h1>
                    <p>For the sake of ten years, we must plant trees, for the sake 
                        <br>of a hundred years we must plant people<br>
                         </p>
                    <a href="account.html" class="btn">Join Now &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="images/Tieng anh.png">
                </div>
            </div>
        </div>
    </div>

    <!-- ------------- featured course ---------------- -->
    <div class="small-container">
        <h2 class="title">Featured Course</h2>
        <div class="row">
            <div class="col-4">
                <a href="products_detal.html"><img src="images/TRUNG.jpg"></a>
                <a href="products_detal.html"><h4>Tiếng Trung Sơ Cấp</h4></a>
                <p>4.XXX.000 vnđ</p>
            </div>
            <div class="col-4">
                <img src="images/WEB.jpg">
                <h4>Thiết Kế website</h4>
                <p>5.XXX.000 vnđ</p>
            </div>
            <div class="col-4">
                <img src="images/marketing.jpg">
                <h4>Khóa học marketing </h4>
                <p>8.XXX.000 vnđ</p>
            </div>
            <div class="col-4">
                <img src="images/TPhap.jpg">
                <h4>Tiếng Pháp Sơ Cấp</h4>
                <p>6.XXX.000 vnđ</p>
            </div>
        </div>
        <h2 class="title">Present Course</h2>
        <div class="row">
            <div class="col-4">
                <a href="products_detail/products_detail_1.html"><img src="images/english.jpg"></a>
                <h4>Luyện thi Toeic Cấp Tốc </h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>4.200.00 vnđ</p>
            </div>
            <div class="col-4">
                <a href="products_detail/products_detail_2.html"><img src="images/toeic căn bản.png"></a>
                <h4>Khóa Toiec cho người mất căn bản</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>5.600.000 vnđ</p>
            </div>
            <div class="col-4">
                <a href="products_detail/products_detail_3.html"><img src="images/Toeic mới.jpg"></a>
                <h4>Luyện reading and Speaking</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>3.800.000</p>
            </div>
            <div class="col-4">
                <a href="products_detail/products_detail_4.html"><img src="images/luyện thi ielts.png"></a>
                <h4>Luyện thi ielts </h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>2.200.000 vnđ</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <a href="products_detail/products_detail_5.html"><img src="images/ielts cấp tốc.jpg"></a>
                <h4>Luyện thi ielts cấp tốc</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>4.200.000 vnđ</p>
            </div>
            <div class="col-4">
                <a href="products_detail/products_detail_6.html"><img src="images/TOÁN.jpg"></a>
                <h4>Luyện thi toán</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>3.300.000 vnđ</p>
            </div>
            <div class="col-4">
                <a href="products_detail/products_detail_7.html"><img src="images/Tiếng anh cấp 2.jpg"></a>
                <h4>Lộ trình tiếng anh sơ cấp</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>4.500.000 vnđ</p>
            </div>
            <div class="col-4">
                <a href="products_detail/products_detail_8.html"><img src="images/luyện thi đại học.jpg"></a>
                <h4>Luyện thi đại học</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>6.400.000 vnđ</p>
            </div>
            <div class="page-btn">
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>&#8594;</span>
            </div>
        </div>
    </div>
    <!-- ------------ offer -------------- -->
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2"><img src="images/english.jpg" class="offer-img"> </div>
                <div class="col-3">
                    <p>Tham gia khóa học ngay và nhần nhiều ưu đãi</p>
                    <h1>Luyện Thi Cấp Tốc 3</h1>
                    <small>Với nhiều ưu đãi và tiết kiệm thời gian giúp học viên có thể tham gia 
                        ngay không cần suy nghĩ</small>
                    <a href="" class="btn">Join Now &#8594;</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ------------ testimonial -------------- -->
    <div class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-qoute-lef"></i>
                    <p>Khóa học mang lại nhiều lợi ích cho tôi , thừa nhận rằng việc học online dễ dàng và hiệu quả bất ngờ</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="images/dat.png">
                    <h3>Đạt sừng dài</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-qoute-lef"></i>
                    <p>Bạn không thể biết thế nào là học trực tuyến khi bạn chưa tham gia ngay khóa học này nó mang cho tôi rất nhiều lợi ích</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="images/ngan.png">
                    <h3>Ngân Trần</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-qoute-lef"></i>
                    <p>Hãy tham gia ngay đi tôi đã đánh giá nó 5* vì quá chất lượng</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="images/hang.png">
                    <h3>Hằng baby</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- ------------------- brands --------------------- -->
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="images/logo-hoc.png">
                </div>
                <div class="col-5">
                    <img src="images/logo-apple.png">
                </div>
                <div class="col-5">
                    <img src="images/logo-oppo.png">
                </div>
                <div class="col-5">
                    <img src="images/logo-paypal.png">
                </div>
            </div>
        </div>
    </div>
    <!-- ------------footer----------- -->

    <div class="footer">
        <div class="Copyright">Fun with english - By nhóm 10</p>
        </div>
    </div>
    <!-- ------------------- js for toggle menu-------------- -->
    <script>
        var MenuItems = document.getElementById("MenuItems");
        
        MenuItems.style.maxHeight = "0px";

        function menutoggle(){
            if(MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.maxHeight = "200px";
            }
        else
            {
                MenuItems.style.maxHeight = "0px";
            }
        }

    </script>
</body>
</html>