<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Course - English</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="index.html"><img src="images/logo-back.jpg" width="125px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="course.html">Course</a></li>
                    <li><a href="">Lecture</a></li>   
                    <li><a href="account.html">Account</a></li>
                </ul>
            </nav>
            <a href=""><img src="images/cart.png" width="30px" height="30px"></a>
            <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>
    </div>


    <!-- ------------ testimonial -------------- -->

        <div class="testimonial">
            <div class="small-container">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-qoute-lef"></i>
                        <p>Chuyên tâm giảng dạy, đam mê với nghe từng con chữ , mong rằng các em sau này sẽ là trụ cột của quốc gia</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <img src="images/khoa thỉnh giảng.png">
                        <h3>Thầy Khoa giáo viên</h3>
                    </div>
                    <div class="col-3">
                        <i class="fa fa-qoute-lef"></i>
                        <p>Vì lợi ích mười năm trồng cây , vì lợi ích trăm năm trồng người</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                        <img src="images/Đạo thỉnh giảng.png">
                        <h3>Thầy Đạo thỉnh giảng</h3>
                    </div>
                    <div class="col-3">
                        <i class="fa fa-qoute-lef"></i>
                        <p>Học luôn đi đôi với hành, mong sẽ gặp các em trên lớp online sớm nhé</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <img src="images/cô vy.png">
                        <h3>Cô Vy giảng viên</h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- ------------------- brands --------------------- -->
        <div class="brands">
            <div class="small-container">
                <div class="row">
                    <div class="col-5">
                        <img src="images/logo-hoc.png">
                    </div>
                    <div class="col-5">
                        <img src="images/logo-apple.png">
                    </div>
                    <div class="col-5">
                        <img src="images/logo-oppo.png">
                    </div>
                    <div class="col-5">
                        <img src="images/logo-paypal.png">
                    </div>
                </div>
            </div>
        </div>
    <!-- ------------footer----------- -->
    <div class="footer">
        <div class="Copyright">Fun with english - By nhóm 10</p>
        </div>
    </div>
        <!-- ------------------- js for toggle menu-------------- -->
        <script>
            var MenuItems = document.getElementById("MenuItems");

            MenuItems.style.maxHeight = "0px";

            function menutoggle() {
                if (MenuItems.style.maxHeight == "0px") {
                    MenuItems.style.maxHeight = "200px";
                }
                else {
                    MenuItems.style.maxHeight = "0px";
                }
            }

        </script>
</body>

</html>