<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh Toán| English</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="index.html"><img src="images/logo-back.jpg" width="125px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="course.html">course</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="account.html">Account</a></li>
                </ul>
            </nav>
            <a href="cart.html"><img src="images/cart.png" width="30px" height="30px"></a>
            <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>
    </div>

    <!-- ---------- single Products detail ----------- -->

    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="images/TRUNG.jpg" width="100%" id="productImg">
                
                <div class="small-img-row">
                    <div class="small-img-rol">
                        <img src="images/TRUNG.jpg" width="100%" class="small-img">
                    </div>
                    <div class="small-img-rol">
                        <img src="images/TRUNG.jpg" width="100%" class="small-img">
                    </div>
                    <div class="small-img-rol">
                        <img src="images/TRUNG.jpg" width="100%" class="small-img">
                    </div>
                    <div class="small-img-rol">
                        <img src="images/TRUNG.jpg" width="100%" class="small-img">
                    </div>
                </div>

            </div>
            <div class="col-2">
                <p>Home / course</p>
                <h1>Khóa tiếng trung cho người mới</h1>
                <h4>4.XXX.000 vnđ</h4>
                </section>
                    <input type="number" value="1">
                    <a href="cart.html" class="btn">Add To Card</a>
                    <h3>Product Detail
                        <i class="fa fa-indent"></i>
                    </h3>
                    <br>
                    <p>Khóa tiếng trung dành cho người mới bắt đầu chập chững để nghe và nói được tiếng trung
                        khi tham gia khóa này bạn sẽ có thể giao tiếp cơ bản với người bản địa</p>
            </div>
        </div>
    </div>

    <!-- ----- title------------- -->
    <div class="small-container">
        <div class="row row2">
            <h2>Present course</h2>
            <p>View More</p>
        </div>
    </div>

<!-- ---------------Products----------------- -->
    <div class="small-container">

        <div class="row">
            <div class="col-4">
                <img src="images/Toeic mới.jpg">
                <h4>Luyện reading and speaking</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>3.800.000 vnđ</p>
            </div>
            <div class="col-4">
                <img src="images/toeic căn bản.png">
                <h4>Khóa toeic cho người mất căn bản</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>5.600.000 vnđ</p>
            </div>
            <div class="col-4">
                <img src="images/english.jpg">
                <h4>Luyện thi toeic cấp tốc</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>4.200.000 vnđ</p>
            </div>
            <div class="col-4">
                <img src="images/luyện thi ielts.png">
                <h4>Luyện thi ielts </h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>2.200.000 vnđ</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="images/ielts cấp tốc.jpg">
                <h4>Luyện thi ielts cấp tốc</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="images/TOÁN.jpg">
                <h4>Luyện thi toán</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>3.300.000 vnđ</p>
            </div>
            <div class="col-4">
                <img src="images/Tiếng anh cấp 2.jpg">
                <h4>Lộ trình tiếng anh sơ cấp</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>4.500.000 vnđ</p>
            </div>
            <div class="col-4">
                <img src="images/luyện thi đại học.jpg">
                <h4>Luyện thi đại học</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>6.400.000 vnđ</p>
            </div>
        </div>
        <div class="page-btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>&#8594;</span>
        </div>
    </div>
    <!-- ------------footer----------- -->

    <div class="footer">
        <div class="Copyright">Fun with english - By nhóm 10</p>
        </div>
    </div>

        <!-- ------------------- js for toggle menu-------------- -->
        <script>
            var MenuItems = document.getElementById("MenuItems");

            MenuItems.style.maxHeight = "0px";

            function menutoggle() {
                if (MenuItems.style.maxHeight == "0px") {
                    MenuItems.style.maxHeight = "200px";
                }
                else {
                    MenuItems.style.maxHeight = "0px";
                }
            }

        </script>

<!-- ------------------- JS for  product gallery------------------------         -->
        <script>
            var ProductImg = document.getElementById("productImg");
            var SmallImg = document.getElementsByClassName("small-img");

            SmallImg[0].onclick = function()
            {
                ProductImg.src = SmallImg[0].src;
            }
            SmallImg[1].onclick = function()
            {
                ProductImg.src = SmallImg[1].src;
            }
            SmallImg[2].onclick = function()
            {
                ProductImg.src = SmallImg[2].src;
            }
            SmallImg[3].onclick = function()
            {
                ProductImg.src = SmallImg[3].src;
            }

        </script>
</body>

</html>